!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "../../assets/ico/favicon.ico", rel: "shortcut icon"}/
    %title Dailies
    / Bootstrap core CSS
    / Custom styles for this template
    %link{href: "jumbotron-narrow.css.scss", rel: "stylesheet"}/
    / Just for debugging purposes. Don't actually copy this line!
    /[if lt IE 9] <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    = stylesheet_link_tag "application.css", :turbolinks => true
  %body
    .container
      = render :partial => "common/header"
      .jumbotron
        %h1 Note your Dailies
      = yield
      .footer
        %p © Company 2014
    / /container
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster